<div class="auth-wrapper">
  <div class="modal">
    <div class="modal__container">

      <div class="modal__header">{{ title }}</div>

      <form *ngIf="!newAccount" (ngSubmit)="logIn(f)" #f="ngForm" class="modal__form">
  
        <div class="form_group">
          <label for="username" class="signin_label">Your username:</label>
          <input 
            ngModel
            type="text"
            name="name"
            #name="ngModel"
            required
            id="username" 
            class="signin_input" 
            autocomplete="nickname username">
          <span *ngIf="name.touched && name.invalid" class="invalid">Username is invalid!</span>
        </div>
  
        <div class="form_group">
          <label for="password" class="signin_label">Your password:</label>
          <input 
            ngModel
            type="password"
            name="password" 
            #pass="ngModel"
            required
            id="password" 
            class="signin_input"
            autocomplete="current-password">
          <span *ngIf="pass.touched && pass.invalid" class="invalid">Password is invalid!</span>
        </div>
  
        <button class="modal-btn btn-forward" type="submit">
          Continue
          <i class="fal fa-arrow-right"></i>
        </button>
  
        <div class="noaccount">
          Don’t have an account? 
          <a [routerLink]="['../', 'signup']">Register</a> 
          now!
        </div>
        
      </form>
      <!-- ELSE -->
      <form *ngIf="newAccount" (ngSubmit)="signUp(f)" #f="ngForm" class="modal__form">
  
        <div class="form_group">
          <label for="username" class="signin_label">Select username:</label>
          <input 
            ngModel
            type="text"
            name="name"
            #name="ngModel"
            required
            id="username"
            class="signin_input"
            autocomplete="nickname username">
          <span *ngIf="name.touched && name.invalid" class="invalid">Username is invalid!</span>          
        </div>

        <div class="form_group">
          <label for="email" class="signin_label">Your email:</label>
          <input 
            ngModel
            type="email"
            name="email"
            #email="ngModel"
            required
            email
            id="email"
            class="signin_input"
            autocomplete="email">
          <span *ngIf="email.touched && email.invalid" class="invalid">Email is invalid!</span>          
        </div>
  
        <div class="form_group">
          <label for="password" class="signin_label">New password:</label>
          <input 
            ngModel
            type="password" 
            name="password"
            #pass="ngModel"
            required
            id="password" 
            class="signin_input" 
            autocomplete="new-password">
          <span *ngIf="pass.touched && pass.invalid" class="invalid">Password is invalid!</span>          
        </div>
  
        <button class="modal-btn btn-forward" type="submit">
          Create an account
          <i class="fal fa-arrow-right"></i>
        </button>
  
        <div class="noaccount">
          Already have an account? 
          <a [routerLink]="['../', 'login']">Sign in!</a>
        </div>
        
      </form>

    </div>
  </div>
</div>