<div class="modal">
  <div class="modal__container">
    <div class="modal__header">Log in</div>
    <div class="modal__form">

      <div class="form_group">
        <label for="username" class="signin_label">Your username:</label>
        <input type="text" name="name" id="username" class="signin_input">
      </div>

      <div class="form_group">
        <label for="name" class="signin_label">Your password:</label>
        <input type="password" name="password" id="password" class="signin_input">
      </div>

      <button class="modal-btn btn-forward">Continue <i class="fal fa-arrow-right"></i></button>
    </div>
  </div>
</div>